<br />
<br/>


<div class="box box-primary">
    <div class="box-header with-border">
        <div class="pull-left">
            <h3 class="box-title"><i class="fa fa-th-list text-primary fa-lg"></i> {{vm.movieInfo.Title}} 
                <span class="text-primary"> - {{vm.movieInfo.Type}} </span>
            </h3>
        </div>
        <div class="pull-right">
            <a data-ui-sref="index" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
        <div class="clearfix"></div>


    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4">
                <img data-ng-src="{{vm.movieInfo.Poster }}" class="img-thumbnail img-responsive" alt="Movie Image" />
            </div>
            <div class="col-xs-4">
                <h3 class="detail-subtitle"><span class="subtitle-underline"><i class="fa fa-info-circle text-success"></i>&nbsp;Information&nbsp;</span></h3>
                <dl class="detail-information">
                    <dt>Actors</dt>
                    <dd>
                        {{vm.movieInfo.Actors}}
                    </dd>
                    <dt>Genre</dt>
                    <dd>
                        <span ng-repeat="genre in vm.getGenre(vm.movieInfo.Genre)"><span ng-class="vm.getGenreLabel(genre)">{{genre}}</span>                    </span>
                    </dd>
                    <dt>Released</dt>
                    <dd>{{vm.movieInfo.Released}}</dd>
                    <dt>Rated:</dt>
                    <dd>{{vm.movieInfo.Rated}}</dd>
                    <dt>Rating</dt>
                    <dd>
                    <rating ng-model="vm.movieInfo.rating" max="vm.max" readonly="vm.isReadonly"></rating>
                    </dd>
                </dl>
            </div>

            <div class="col-xs-4">
                <h3 class="detail-subtitle"><span class="subtitle-underline"><i></i><i class="fa fa-dot-circle-o text-info"></i>&nbsp;More Info&nbsp;</span></h3>
                <dl class="detail-information">
                    <dt>Awards</dt>
                    <dd>{{vm.movieInfo.Awards}}</dd>

                    <dt>Country</dt>
                    <dd>{{vm.movieInfo.Country}}</dd>

                    <dt>Director</dt>
                    <dd>{{vm.movieInfo.Director}}</dd>

                    <dt>Writer</dt>
                    <dd>{{vm.movieInfo.Writer}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="detail-subtitle"><span class="subtitle-underline"><i></i><i class="fa fa-dot-circle-o text-purple"></i>&nbsp;Plot&nbsp;</span></h3>
                <p class="text-justified" style="text-align: justify;" read-more ng-bind="vm.movieInfo.Plot">

                </p>
            </div>
        </div>
    </div>

</div>