<div class="box box-danger nga-slow nga-stagger-slow nga-slide-up" ng-if="vm.isAppInitialized ">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-th-list text-primary fa-lg"></i> Project statistics</h3>
    </div>
    <div class="box-body">
        <div class="row col-xs-6 col-xs-offset-3">
            <div class="box box-default">
                <div class="box-header text-center">
                    <h3 class="box-title bold">General Information</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-responsive table table-condensed">
                        <tr>
                            <th style="width: 50%;">Total Tokens</th>
                            <td>{{vm.statistics.tokenCount}}</td>
                        </tr>
                        <tr>
                            <th>Spelling Vocabulary</th>
                            <td>{{vm.statistics.vocabularySize}}</td>
                        </tr>
                        <tr>
                            <th>Stop Words</th>
                            <td>{{vm.statistics.englishStopWordsCount}}</td>
                        </tr>
                        <tr>
                            <th>Training Documents</th>
                            <td>{{vm.statistics.trainingDocumentsCount}}</td>
                        </tr>
                        <tr>
                            <th>Classifier Classes</th>
                            <td><span ng-repeat="class in vm.statistics.classifierClasses">
                                <span class="label" ng-class="{'label-info': class === 'Excellent', 'label-warning': class === 'Good', 'label-danger': class === 'Bad'}">{{class}}</span>
                                </span>
                            </td>
                        </tr>
                        <tr ng-if="vm.statistics.testingDocumentsCount">
                            <th>Testing Documents</th>
                            <td>{{vm.statistics.testingDocumentsCount}}</td>
                        </tr>
                        <tr ng-if="vm.statistics.correctlyClassified">
                            <th>Correctly Classified</th>
                            <td>{{vm.statistics.correctlyClassified}}</td>
                        </tr>
                        <tr ng-if="vm.statistics.classifierAccurary">
                            <th>Classifier Accuracy</th>
                            <td>{{vm.statistics.classifierAccurary}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5 text-center">
                <button class="btn btn-success btn-block" ui-sref="index"><i class="fa fa-globe fa-lg fa-spin" aria-hidden="true"></i> Start Searching</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay nga-slow nga-stagger nga-collapse text-center" style="margin-top: 15%" ng-if="!vm.isAppInitialized">
    <i class="fa fa-refresh text-blue fa-spin fa-5x"></i>
</div>
